body{
    font-family: sans-serif;
    font-size: 1.5em;
}

ul{
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
}

.left, .right{
    margin-top: 5em;
}

.left ul{
    margin: 3.2em 000;
}
.left ul li{
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 1em;
    width: 10em;
}
.left ul li:first-child{
    border-top: 1px solid #ccc;
}

/* =========FIN 1erè COLONNE========== */

ul.liste li{
    border-left: 1px solid #ccc;
}

.right .change ul li{
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 1em;
    width: 10em;
    text-align: center;
}

.right .center ul li:first-child{
    background-color: #5d5d5d;
    color: #ffffff;
    font-weight: bold;
}
.right .center ul li:last-child{
    border: 1px solid #ccc;
}

/* ======FIN MISE TRANSTION AU AURVOL DE LA SOURIS /HOVER======== */

.right .change ul:hover{
    background: linear-gradient(#d5d5d5, #8a8a8a);
    cursor: pointer;
    transform: scale(1.4);

}

.right .change ul:hover li:first-child{
    background-color: #000;
}
.yellow:hover{
 color: white;
}

/* ======FIN======= */